{% extends "base.html" %}
{% load dsfr_tags static str_filters %}
{% block content %}
  <div class="fr-container fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div id="contenu" class="fr-col-12 fr-py-12v">
        <h1>Liste des contributions</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
          <div class="fr-col-12 fr-col-sm-3">
            <h2 class="fr-h4">Filtres</h2>
            <form method="GET">
              <div class="fr-select-group">
                {{ form.theme.errors }}
                <label class="fr-label" for="{{ form.theme.id_for_label }}">{{ form.theme.label }}</label>
                {{ form.theme }}
              </div>
              <div class="fr-select-group">
                {{ form.tag.errors }}
                <label class="fr-label" for="{{ form.tag.id_for_label }}">{{ form.tag.label }}</label>
                {{ form.tag }}
              </div>
              <div class="fr-select-group">
                {{ form.scale.errors }}
                <label class="fr-label" for="{{ form.scale.id_for_label }}">{{ form.scale.label }}</label>
                {{ form.scale }}
              </div>
            </form>
          </div>
          <div class="fr-col-12 fr-col-sm-9">
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
              <div class="fr-col-12">
                <h2 class="fr-h4">{{ paginator.count }} résultat{{ paginator.count|pluralizefr }}</h2>
              </div>
              {% for contribution in contribution_list %}
                <div class="fr-col-12 fr-col-md-6">
                  {% include "event/partials/contribution_card.html" %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--right fr-mt-6v fr-mb-6v">
      {% dsfr_pagination page_obj %}
    </div>
  </div>
{% endblock %}
