{% extends "base.html" %}
{% load dsfr_tags static %}
{% block content %}
  <div class="fr-container fr-container--fluid fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div id="contenu" class="fr-col-12 fr-py-12v">
        <div class="fr-grid-row fr-grid-row-gutters fr-mb-5w">
          <div class="fr-col-12">
            <h1>{{ event.subject }}</h1>
            <ul class="fr-badges-group">
              <li>
                <p class="fr-badge fr-badge--green-menthe">{{ event.theme }}</p>
              </li>
              {% if event.sub_theme %}
                <li>
                  <p class="fr-badge fr-badge--blue-ecume">{{ event.sub_theme }}</p>
                </li>
              {% endif %}
              <li>
                <p class="fr-badge">{{ event.get_scale_display }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row-gutters fr-mb-5w">
          <div class="fr-col fr-mr-2w">
            <h2>Infos pratiques</h2>
            <p>{{ event.practical_information }}</p>
          </div>
          <div class="fr-col fr-mr-2w">
            <h2>Adresse</h2>
            <div class="fr-grid-row">
              <div class="fr-col-1">
                <span aria-hidden="true" class="fr-icon-map-pin-2-line"></span>
              </div>
              <div class="fr-col-11 fr-pl-2v">
                {{ event.address }}<br>
                {{ event.zip_code }} {{ event.city }}
              </div>
            </div>
          </div>
          <div class="fr-col fr-mr-2w">
            <h2>Date</h2>
            <div class="fr-grid-row">
              <div class="fr-col-1">
                <span aria-hidden="true" class="fr-icon-calendar-line"></span>
              </div>
              <div class="fr-col-11 fr-pl-2v">
                <p>
                  {% if not event.start|date:"d F Y" == event.end|date:"d F Y" %}
                    <strong>{{ event.start|date:"d F Y" }}</strong> {{ event.start|time:"H\hi" }}<br>
                    <strong> {{ event.end|date:"d F Y" }}</strong> {{ event.end|time:"H\hi" }}
                  {% else %}
                    <strong>{{ event.start|date:"d F Y" }}</strong><br>
                    {{ event.start|time:"H\hi" }} > {{ event.end|time:"H\hi" }}
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
          {% if event.booking_online %}
            <div class="fr-col fr-mr-2w">
              {% if user.is_authenticated %}
                {% if booking %}
                  <h3>Inscription</h3>
                  {% if booking.confirmed_on %}
                    <p class="fr-badge fr-badge--success">Confirmée le {{ booking.confirmed_on|date:"d F Y" }}</p>
                  {% elif booking.cancelled_on %}
                    <p class="fr-badge fr-badge--error">Déclinée le {{ booking.cancelled_on|date:"d F Y" }}</p>
                  {% else %}
                    <p class="fr-badge fr-badge--info">En attente de confirmation</p>
                    <a class="fr-btn fr-mt-4v" href="{% url "event_registration_delete" booking.pk %}">Se désinscrire</a>
                  {% endif %}
                {% else %}
                  <a class="fr-btn" href="{% url "event_registration" event.pk %}">Participer</a>
                {% endif %}
              {% else %}
                <a class="fr-btn" href="{% url "login" %}?next={% url "event_registration" event.pk %}">Participer</a>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="fr-grid-row fr-grid-row-gutters">
          {% if event.image %}
            <div class="fr-col fr-mr-2w">
              <img class="fr-responsive-img" src="{{ event.image.url }}" alt="" />
            </div>
          {% endif %}
          <div class="fr-col fr-mr-2w">
            <h2>Description</h2>
            <p>{{ event.description }}</p>
          </div>
          {% if event.planning %}
            <div class="fr-col fr-mr-2w">
              <h2>Format</h2>
              <p>{{ event.planning }}</p>
            </div>
          {% endif %}
        </div>
        {% if contributions.count %}
          <div class="fr-grid-row fr-grid-row--gutters fr-my-1w">
            <div class="fr-col-12 fr-mt-3w">
              <h2>{{ contributions.count }} contribution{{ contributions.count|pluralize }} issue{{ contributions.count|pluralize }} de la concertation</h2>
            </div>
            {% for contribution in contributions %}
              <div class="fr-col fr-col-md-4">
                <div class="fr-card">
                  <div class="fr-card__body">
                    <div class="fr-card__content">
                      <h3 class="fr-card__title">
                        {{ contribution.title }}
                      </h3>
                      <p class="fr-card__desc">{{ contribution.description }}</p>
                      <div class="fr-card__start">
                        <ul class="fr-badges-group">
                          <li>
                            <p class="fr-badge">{{ contribution.get_kind_display }}</p>
                          </li>
                          <li>
                            <p class="fr-badge fr-badge--info fr-badge--no-icon">{{ contribution.current_status.get_status_display }}</p>
                          </li>
                          <li>
                            {% if contribution.public %}
                              <p class="fr-badge fr-badge--success fr-badge--no-icon">Publique</p>
                            {% else %}
                              <p class="fr-badge fr-badge--error fr-badge--no-icon">Privée</p>
                            {% endif %}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
