{% extends "base.html" %}
{% load dsfr_tags static %}
{% block content %}
  <div class="fr-container fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div id="contenu" class="fr-col-12 fr-py-12v">
        <h1>Liste des concertations</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
          <div class="fr-col-3">
            <form method="GET">
              <div class="fr-select-group">
                {{ form.theme.errors }}
                <label class="fr-label" for="{{ form.theme.id_for_label }}">{{ form.theme.label }}</label>
                {{ form.theme }}
              </div>
              <div class="fr-select-group">
                {{ form.scale.errors }}
                <label class="fr-label" for="{{ form.scale.id_for_label }}">{{ form.scale.label }}</label>
                {{ form.scale }}
              </div>
              <div class="fr-checkbox-group">
                {{ form.upcoming.errors }}
                {{ form.upcoming }}
                <label class="fr-label" for="{{ form.upcoming.id_for_label }}">{{ form.upcoming.label }}</label>
              </div>
            </form>
          </div>
          <div class="fr-col-9">
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
              {% for event in event_list %}
                <div class="fr-col-md-6 fr-col">
                  {% include "event/partials/event_card.html" %}
                </div>
              {% empty %}
                <div class="fr-col-md-12 fr-col">
                  <p>Retrouvez bientôt de nouvelles concertations...</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
