{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>Réinitialisation du mot de passe</h1>
                            <form method="post">{% csrf_token %}
                                <fieldset class="fr-fieldset">
                                    <div class="fr-fieldset__element">
                                        <fieldset class="fr-fieldset">
                                            <div class="fr-fieldset__element">
                                                <span class="fr-hint-text">Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</span>
                                            </div>
                                            {% if form.email.errors %}
                                                <div class="fr-alert fr-alert--error fr-mb-md-4v">
                                                    <p>{{ form.email.errors }}</p>
                                                </div>
                                            {% endif %}
                                            <div class="fr-fieldset__element">
                                                <div class="fr-input-group">
                                                    <label class="fr-label" for="username-1757">
                                                        Adresse électronique
                                                    </label>
                                                    {{ form.email|add_class:"fr-input" }}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="fr-fieldset__element">
                                        <ul class="fr-btns-group">
                                            <li>
                                                <button class="fr-mt-2v fr-btn" type="submit">
                                                    Réinitialiser mon mot de passe
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
