{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="fr-container fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>Mot de passe modifié.</h1>
                            <p>Votre mot de passe a été défini. Vous pouvez continuer et vous connecter maintenant.</p>
                            <p><a href="{{ login_url }}">Connexion</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
