{% extends "base.html" %}
{% load widget_tweaks i18n %}

{% block content %}
    <div class="fr-container fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>Réinitialisation du mot de passe</h1>
                            <form method="post">{% csrf_token %}
                                {% if form.errors %}
                                    <div class="fr-alert fr-alert--error fr-mb-md-4v">
                                        <p>
                                            {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                <fieldset class="fr-fieldset">
                                    <div class="fr-fieldset__element">
                                        <fieldset class="fr-fieldset">
                                            <div class="fr-fieldset__element">
                                                <span class="fr-hint-text">
                                                    {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                                                </span>
                                            </div>
                                            {% if form.email.errors %}
                                                <div class="fr-alert fr-alert--error fr-mb-md-4v">
                                                    <p>{{ form.email.errors }}</p>
                                                </div>
                                            {% endif %}

                                            {{ form.old_password.errors }}
                                            <div class="fr-fieldset__element">
                                                <div class="fr-input-group">
                                                    {{ form.old_password.label_tag }}
                                                    {{ form.old_password|add_class:"fr-input" }}
                                                </div>
                                            </div>

                                            {{ form.new_password1.errors }}
                                            <div class="fr-fieldset__element">
                                                <div class="fr-password">
                                                    {{ form.new_password1.label_tag }}
                                                    {{ form.new_password1|add_class:"fr-password__input fr-input" }}
                                                    {% if form.new_password1.help_text %}
                                                        <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                            {{ form.new_password2.errors }}
                                            <div class="fr-fieldset__element">
                                                <div class="fr-password">
                                                    {{ form.new_password2.label_tag }}
                                                    {{ form.new_password2|add_class:"fr-password__input fr-input" }}
                                                    {% if form.new_password2.help_text %}
                                                        <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="fr-fieldset__element">
                                        <ul class="fr-btns-group">
                                            <li>
                                                <button class="fr-mt-2v fr-btn" type="submit">
                                                    {% translate 'Change my password' %}
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
