{% extends "base.html" %}
{% load dsfr_tags %}
{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
                <form method="post" enctype="multipart/form-data">{% csrf_token %}
                    <fieldset class="fr-fieldset">
                        <legend class="fr-fieldset__legend">
                            <h2>{% if object %}Modifier la{% else %}Créez une{% endif %} contribution pour votre concertation CNR</h2>
                        </legend>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    <p class="mb-0">
                                        {{ error }}
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="fr-fieldset__element">
                            {% dsfr_form %}
                        </div>
                    </fieldset>
                    <div class="form-actions mb-3">
                        <input type="submit" class="fr-btn" value="Enregistrer" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
