{% extends "base.html" %}
{% load dsfr_tags static %}
{% block content %}
  <div class="fr-container fr-container--fluid fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div id="contenu" class="fr-col-12 fr-col-md-10 fr-py-12v">
        <h1>Votre compte organisateur de concertations</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
          <div class="fr-col-md-12 fr-col">
            <p>
              <span class="fr-icon-account-circle-line" aria-hidden="true"></span>
              <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
              {{ user.email }}
            </p>
          </div>
          <div class="fr-col-md-6 fr-col">
            <h2>Vos concertations</h2>
          </div>
          <div class="fr-col-md-6 fr-col">
            <a href="{% url 'event_organizer_event_create' %}" class="fr-btn" target="_self">Créer une nouvelle concertation</a>
          </div>
          {% for event in event_list %}
            <div class="fr-col-md-6 fr-col">
              <div class="fr-card fr-enlarge-link">
                <div class="fr-card__body">
                  <div class="fr-card__content">
                    <h3 class="fr-card__title">
                      <a href="{% url 'event_organizer_event_update' event.pk %}">{{ event.subject }}</a>
                    </h3>
                    <p class="fr-card__desc">{{ event.description }}</p>
                    <div class="fr-card__start">
                      <ul class="fr-badges-group">
                        <li>
                          {% if event.pub_status == event.PubStatus.PUB %}
                            <p class="fr-badge fr-badge--success">Publique</p>
                          {% elif event.pub_status == event.PubStatus.PRIV %}
                            <p class="fr-badge fr-badge--warning">Privée</p>
                          {% else %}
                            <p class="fr-badge fr-badge--error">Hors ligne</p>
                          {% endif %}
                        </li>
                        <li>
                          <p class="fr-badge fr-badge--green-menthe">{{ event.theme }}</p>
                        </li>
                        {% if event.sub_theme %}
                          <li>
                            <p class="fr-badge fr-badge--blue-ecume">{{ event.sub_theme }}</p>
                          </li>
                        {% endif %}
                      </ul>
                      <p class="fr-card__detail fr-icon-map-pin-2-line">{{ event.city }}</p>
                      <p class="fr-card__detail fr-icon-calendar-line">{{ event.start|date:"d/m/Y" }} {{ event.start|time:"H\hi" }}</p>
                    </div>
                  </div>
                </div>
                <div class="fr-card__header">
                  <div class="fr-card__img">
                    {% if event.image %}
                      <img class="fr-responsive-img" src="{{ event.image.url }}" alt="" />
                    {% else %}
                      <img class="fr-responsive-img" src="{% static "images/placeholder.16x9.png" %}" alt="" />
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            <div class="fr-col-md-12 fr-col">
              <p>Vous n'avez pas encore créé de concertations...</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
