{% extends "base.html" %}
{% load dsfr_tags static %}
{% block content %}
  <div class="fr-container fr-container--fluid fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div id="contenu" class="fr-col-12 fr-col-md-10 fr-py-12v">
        <h1>Votre compte organisateur de concertations</h1>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
          <div class="fr-col-md-12 fr-col">
            <p>
              <span class="fr-icon-account-circle-line" aria-hidden="true"></span>
              <strong>{{ user.first_name }} {{ user.last_name }}</strong><br>
              {{ user.email }}
            </p>
          </div>
          <div class="fr-col-md-12 fr-col">
            <h2>{{ event.subject }}</h2>
            <a href="{% url 'event_organizer_dashboard' %}" class="fr-btn fr-btn--secondary" target="_self">Retour</a>
            <a href="{% url 'event_organizer_event_update' event.pk %}" class="fr-btn">Modifier</a>
            <a href="{% url 'event_detail' event.pk %}" class="fr-btn" target="_blank">Voir la page</a>
          </div>
          <div class="fr-col-md-12 fr-col">
            <div class="fr-tabs">
              <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
                <li role="presentation">
                  <button id="tabpanel-404" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">Concertation</button>
                </li>
                <li role="presentation">
                  <button id="tabpanel-405" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">Participants ({{ bookings.count }})</button>
                </li>
                <li role="presentation">
                  <button id="tabpanel-406" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-406-panel">Contributions ({{ contributions.count }})</button>
                </li>
              </ul>
              <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
                <div class="fr-grid-row fr-grid-row-gutters fr-mb-5w">
                  {% if event.practical_information %}
                    <div class="fr-col fr-mr-2w">
                      <h2>Infos pratiques</h2>
                      <p>{{ event.practical_information|linebreaksbr }}</p>
                    </div>
                  {% endif %}
                  <div class="fr-col fr-mr-2w">
                    <h2>Adresse</h2>
                    <div class="fr-grid-row">
                      <div class="fr-col-1">
                        <span aria-hidden="true" class="fr-icon-map-pin-2-line"></span>
                      </div>
                      <div class="fr-col-11 fr-pl-2v">
                        {{ event.address }}<br>
                        {{ event.zip_code }} {{ event.city }}
                      </div>
                    </div>
                  </div>
                  <div class="fr-col fr-mr-2w">
                    <h2>Date</h2>
                    <div class="fr-grid-row">
                      <div class="fr-col-1">
                        <span aria-hidden="true" class="fr-icon-calendar-line"></span>
                      </div>
                      <div class="fr-col-11 fr-pl-2v">
                        <p>
                          {% if not event.start|date:"d F Y" == event.end|date:"d F Y" %}
                            <strong>{{ event.start|date:"d F Y" }}</strong> {{ event.start|time:"H\hi" }}<br>
                            <strong> {{ event.end|date:"d F Y" }}</strong> {{ event.end|time:"H\hi" }}
                          {% else %}
                            <strong>{{ event.start|date:"d F Y" }}</strong><br>
                            {{ event.start|time:"H\hi" }} > {{ event.end|time:"H\hi" }}
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fr-grid-row fr-grid-row-gutters">
                  {% if event.image %}
                    <div class="fr-col fr-mr-2w">
                      <img class="fr-responsive-img" src="{{ event.image.url }}" alt="" />
                    </div>
                  {% endif %}
                  {% if event.description %}
                    <div class="fr-col fr-mr-2w">
                      <h2>Description</h2>
                      <p>{{ event.description|linebreaksbr }}</p>
                    </div>
                  {% endif %}
                  {% if event.planning %}
                    <div class="fr-col fr-mr-2w">
                      <h2>Format</h2>
                      <p>{{ event.planning|linebreaksbr }}</p>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
                <div class="fr-table fr-table--layout-fixed">
                  <table>
                    <caption>Liste des demandes de participation</caption>
                    <thead>
                      <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Statut</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for booking in bookings %}
                        {% include "event/organizer/partials/booking_row.html" %}
                      {% empty %}
                        <tr>
                          <td colspan="4">
                            <p>Il n'y a pas encore de participant pour cette concertation...</p>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="tabpanel-406-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-406" tabindex="0">
                <a href="{% url 'event_organizer_contribution_create' event.pk %}" class="fr-btn">Ajouter une contribution</a>
                <div class="fr-grid-row fr-grid-row--gutters fr-my-1w">
                  {% for contribution in contributions %}
                    <div class="fr-col fr-col-md-6">
                      <div class="fr-card fr-enlarge-link">
                        <div class="fr-card__body">
                          <div class="fr-card__content">
                            <h3 class="fr-card__title">
                              <a href="{% url "event_organizer_contribution_update" contribution.pk %}">{{ contribution.title }}</a>
                            </h3>
                            <p class="fr-card__desc">{{ contribution.description|linebreaksbr }}</p>
                            <div class="fr-card__start">
                              <ul class="fr-badges-group">
                                <li>
                                  <p class="fr-badge">{{ contribution.get_kind_display }}</p>
                                </li>
                                <li>
                                  <p class="fr-badge fr-badge--info fr-badge--no-icon">{{ contribution.current_status.get_status_display }}</p>
                                </li>
                                <li>
                                  {% if contribution.public %}
                                    <p class="fr-badge fr-badge--success fr-badge--no-icon">Publique</p>
                                  {% else %}
                                    <p class="fr-badge fr-badge--error fr-badge--no-icon">Privée</p>
                                  {% endif %}
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
