<tr id="booking-row-{{ booking.pk }}">
    <td>{{ booking.participant.first_name }}</td>
    <td>{{ booking.participant.last_name }}</td>
    <td>{{ booking.participant.email }}</td>
    <td>
        {% if booking.confirmed_on %}
            <p class="fr-badge fr-badge--success">Confirmée le {{ booking.confirmed_on|date:"d F Y" }}</p>
        {% elif booking.cancelled_on %}
            <p class="fr-badge fr-badge--error">Déclinée le {{ booking.cancelled_on|date:"d F Y" }}</p>
        {% else %}
            <p class="fr-badge fr-badge--info fr-badge--no-icon">En attente de confirmation</p>
        {% endif %}
    </td>
    <td>
        {% if not booking.confirmed_on and not booking.cancelled_on %}
        <button hx-post="{% url 'event_organizer_registration_accept' booking.pk %}" id="booking-button-accept-{{ booking.pk }}"
            hx-target="#booking-row-{{ booking.pk }}"
            hx-swap="outerHTML"
            class="fr-btn fr-btn--tertiary-no-outline fr-icon-checkbox-circle-line"
            title="Accepter">
            Accepter
        </button>
        <button hx-post="{% url 'event_organizer_registration_decline' booking.pk %}" id="booking-button-decline-{{ booking.pk }}"
            hx-target="#booking-row-{{ booking.pk }}"
            hx-swap="outerHTML"
            class="fr-btn fr-btn--tertiary-no-outline fr-icon-close-circle-line"
            title="Décliner">
            Décliner
        </button>
        {% endif %}
    </td>
</tr>
