{% block main_menu %}
    <div class="fr-header__menu fr-modal" id="fr-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a href="{% url 'event_organizer_dashboard' %}" class="fr-nav__link" target="_self">Tableau de bord organisateur</a>
                    </li>
                    <li class="fr-nav__item">
                        <a href="{% url 'event_organizer_event_add' %}" class="fr-nav__link" target="_self">Créer une nouvelle concertation</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock main_menu %}
