{% extends "dsfr/header.html" %}
{% load static %}
{% block service_title %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
        <p class="fr-header__service-title">{{ SITE_CONFIG.site_title }}</p>
    </a>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
    {% if user.is_authenticated %}
        <li>
            <a class="fr-btn fr-icon-lock-line" href="{% url "logout" %}">
                Se déconnecter
            </a>
        </li>
    {% else %}
        <li>
            <a class="fr-btn fr-icon-lock-line" href="{% url "login" %}">
                Se connecter
            </a>
        </li>
        <li>
            <a class="fr-btn fr-icon-account-line" href="{% url "signup" %}">
                S’enregistrer
            </a>
        </li>
    {% endif %}
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
    {% if user.is_authenticated %}
        {% include "event/organizer/partials/header_organizer.html" %}
    {% endif %}
{% endblock main_menu %}
