{% extends "dsfr/header.html" %}
{% load static %}
{% block service_title %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
        <p class="fr-header__service-title">{{ SITE_CONFIG.site_title }}</p>
    </a>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
    <li>
        <button class="fr-btn--display fr-btn" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
    </li>
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
{% endblock main_menu %}
