{% extends "dsfr/header.html" %}
{% load static %}
{% block service_title %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
        <p class="fr-header__service-title">{{ SITE_CONFIG.site_title }}</p>
    </a>
{% endblock service_title %}

{% block service_tagline %}{{ SITE_CONFIG.site_tagline }}{% endblock service_tagline %}

{% block header_tools %}
    {% if user.is_authenticated %}
        <li>
            <a class="fr-btn fr-icon-lock-line" href="{% url "logout" %}">
                Se déconnecter
            </a>
        </li>
    {% else %}
        <li>
            <a class="fr-btn fr-icon-lock-line" href="{% url "login" %}">
                Se connecter
            </a>
        </li>
        <li>
            <a class="fr-btn fr-icon-account-line" href="{% url "signup" %}">
                S’enregistrer
            </a>
        </li>
    {% endif %}
{% endblock header_tools %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{# block burger_menu #}
{# endblock burger_menu #}

{% block main_menu %}
    <div class="fr-header__menu fr-modal" id="fr-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
        <div class="fr-container">
            <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">Fermer</button>
            <div class="fr-header__menu-links"></div>
            <nav class="fr-nav" id="fr-navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        <a href="https://conseil-refondation.fr/" class="fr-nav__link">Accéder au site d'information</a>
                    </li>
                    <li class="fr-nav__item">
                        <a href="{% url 'event_list' %}" class="fr-nav__link" target="_self"{% if current_page_event_list %} aria-current="page"{% endif %}>Les concertations</a>
                    </li>
                    <li class="fr-nav__item">
                        <a href="{% url 'contribution_list' %}" class="fr-nav__link" target="_self"{% if current_page_contribution_list %} aria-current="page"{% endif %}>Les contributions</a>
                    </li>
                    {% if user.is_authenticated and user.is_organizer %}
                        <li class="fr-nav__item">
                            <a href="{% url 'event_organizer_dashboard' %}" class="fr-nav__link" target="_self"{% if current_page_organizer_dashboard %} aria-current="page"{% endif %}>Tableau de bord organisateur</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock main_menu %}
