{% extends "base.html" %}

{% block content %}
  <div class="fr-container fr-mb-md-14v">
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
      <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
        <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
          <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
              <h1>Profil</h1>
              <h2>En construction</h2>

              <a href="{% url 'logout' %}">Se déconnecter</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
